## Themes I want to emphasize
-

## Tools I use regularly
-

## Awards / certifications / exchanges
-

## Languages
- [Language] (Native / Fluent / Intermediate / Basic)
-

## Nationality / work authorization
-

## International project experience
- [Countries where you delivered on-site, by role]

## Anything else worth flagging
-
